<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Currently there are <%= jokeCount %> jokes in the system</h3>
    <br/><br/>
    <form action="storeJoke" method="POST">
      <input placeholder="Add new  Joke" name="joke"/>
    </form>
    <br/>
    <a href="/">Back</a>
  </body>
</html>