<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome <%= userName %>
  </p>
  <ul>
    <li><a href="/joke">Random Joke</a>
    <li><a href="/jokes">All Jokes</a></li>
    <li><a href="/addJoke">Add New Joke</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</body>

</html>